# Entornos virtuales
venv/
.env
*.env

# Dependencias
node_modules/
vendor/

# Archivos de compilación
dist/
build/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.tmp
*.swp

# Archivos de IDE
.vscode/
.idea/
*.code-workspace

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos
db.sqlite3